* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
}

header {
    background-color: #00897b;
    border: none;
}

@media all and (min-width:1100px) {
    .col-05 {
        width: 5%;
    }
    .col-1 {
        width: 8.33%;
    }
    .col-15 {
        width: 10%;
    }
    .col-17 {
        width: 15%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-23 {
        width: 18%;
    }
    .col-25 {
        width: 20%;
    }
    .col-3 {
        width: 25%;
    }
    .col-35 {
        width: 30%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-45 {
        width: 35%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-55 {
        width: 45%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-75 {
        width: 60%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-85 {
        width: 70%;
    }
    .col-9 {
        width: 75%;
    }
    .col-95 {
        width: 80%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-105 {
        width: 90%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-118 {
        width: 98%;
    }
    .col-12 {
        width: 100%;
    }
    .distance-left-1 {
        margin-left: 1%;
    }
    .distance-left-15 {
        margin-left: 1.5%;
    }
    .distance-left-2 {
        margin-left: 2%;
    }
    .distance-left-3 {
        margin-left: 3%;
    }
    .distance-left-33 {
        margin-left: 3.3%;
    }
    .distance-left-35 {
        margin-left: 3.5%;
    }
    .distance-left-4 {
        margin-left: 4%;
    }
    .distance-left-5 {
        margin-left: 5%;
    }
    .distance-left-6 {
        margin-left: 6%;
    }
    .distance-left-7 {
        margin-left: 7%;
    }
    .col-offset-1 {
        margin-left: 8.33%;
    }
    .col-offset-101 {
        margin-left: 9%;
    }
    .col-offset-102 {
        margin-left: 10%;
    }
    .col-offset-2 {
        margin-left: 16.66%;
    }
    .col-offset-3 {
        margin-left: 25%;
    }
    .col-offset-35 {
        margin-left: 30%;
    }
    .col-offset-4 {
        margin-left: 33.33%;
    }
    .col-offset-5 {
        margin-left: 41.66%;
    }
    .col-offset-6 {
        margin-left: 50%;
    }
    .col-offset-7 {
        margin-left: 58.33%;
    }
    .col-offset-8 {
        margin-left: 66.66%;
    }
    .col-offset-9 {
        margin-left: 75%;
    }
    .col-offset-10 {
        margin-left: 83.33%;
    }
    .col-offset-105 {
        margin-left: 85%;
    }
    .col-offset-11 {
        margin-left: 91.66%;
    }
    .col-offset-12 {
        margin-left: 100%;
    }
    .sign-in-link {
        top: 5px;
        margin: 5%;
        font-size: 1.4em;
    }
}

@media all and (min-width:771px) and (max-width:1099px) {
    .col-lg-05 {
        width: 5%;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-15 {
        width: 10%;
    }
    .col-lg-17 {
        width: 15%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-23 {
        width: 18%;
    }
    .col-lg-25 {
        width: 20%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-35 {
        width: 30%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-45 {
        width: 35%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-55 {
        width: 45%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-75 {
        width: 60%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-85 {
        width: 70%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-95 {
        width: 80%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-105 {
        width: 90%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-118 {
        width: 98%;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-offset-05 {
        margin-left: 5%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33%;
    }
    .col-lg-offset-15 {
        margin-left: 10%;
    }
    .col-lg-offset-17 {
        margin-left: 15%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66%;
    }
    .col-lg-offset-23 {
        margin-left: 18%;
    }
    .col-lg-offset-25 {
        margin-left: 20%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-35 {
        margin-left: 30%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33%;
    }
    .col-lg-offset-45 {
        margin-left: 35%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66%;
    }
    .col-lg-offset-55 {
        margin-left: 45%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33%;
    }
    .col-lg-offset-75 {
        margin-left: 60%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66%;
    }
    .col-lg-offset-85 {
        margin-left: 70%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-95 {
        margin-left: 80%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33%;
    }
    .col-lg-offset-105 {
        margin-left: 90%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66%;
    }
    .col-lg-offset-118 {
        margin-left: 98%;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .distance-lg-left-1 {
        margin-left: 1%;
    }
    .distance-lg-left-15 {
        margin-left: 1.5%;
    }
    .distance-lg-left-2 {
        margin-left: 2%;
    }
    .distance-lg-left-3 {
        margin-left: 3%;
    }
    .distance-lg-left-33 {
        margin-left: 3.3%;
    }
    .distance-lg-left-35 {
        margin-left: 3.5%;
    }
    .distance-lg-left-4 {
        margin-left: 4%;
    }
    .distance-lg-left-5 {
        margin-left: 5%;
    }
    .distance-lg-left-6 {
        margin-left: 6%;
    }
    .distance-lg-left-7 {
        margin-left: 7%;
    }
    .sign-in-lg-link {
        top: -6px;
        right: 5%;
        font-size: 1.4em;
    }
    .button-lg-position {
        margin-top: 21%;
        margin-right: 4%;
    }
    .save-button-lg-margin {
        margin-top: 8%;
        margin-right: 1%;
    }
}

@media all and (min-width:501px) and (max-width:770px) {
    .col-md-05 {
        width: 5%;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-15 {
        width: 10%;
    }
    .col-md-17 {
        width: 15%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-23 {
        width: 18%;
    }
    .col-md-25 {
        width: 20%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-35 {
        width: 30%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-45 {
        width: 35%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-55 {
        width: 45%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-75 {
        width: 60%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-85 {
        width: 70%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-95 {
        width: 80%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-105 {
        width: 90%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-118 {
        width: 98%;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-offset-05 {
        margin-left: 5%;
    }
    .col-md-offset-1 {
        margin-left: 8.33%;
    }
    .col-md-offset-15 {
        margin-left: 10%;
    }
    .col-md-offset-17 {
        margin-left: 15%;
    }
    .col-md-offset-2 {
        margin-left: 16.66%;
    }
    .col-md-offset-23 {
        margin-left: 18%;
    }
    .col-md-offset-25 {
        margin-left: 20%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-35 {
        margin-left: 30%;
    }
    .col-md-offset-4 {
        margin-left: 33.33%;
    }
    .col-md-offset-45 {
        margin-left: 35%;
    }
    .col-md-offset-5 {
        margin-left: 41.66%;
    }
    .col-md-offset-55 {
        margin-left: 45%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-7 {
        margin-left: 58.33%;
    }
    .col-md-offset-75 {
        margin-left: 60%;
    }
    .col-md-offset-8 {
        margin-left: 66.66%;
    }
    .col-md-offset-85 {
        margin-left: 70%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-95 {
        margin-left: 80%;
    }
    .col-md-offset-10 {
        margin-left: 83.33%;
    }
    .col-md-offset-105 {
        margin-left: 90%;
    }
    .col-md-offset-11 {
        margin-left: 91.66%;
    }
    .col-md-offset-118 {
        margin-left: 98%;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .distance-md-left-1 {
        margin-left: 1%;
    }
    .distance-md-left-15 {
        margin-left: 1.5%;
    }
    .distance-md-left-2 {
        margin-left: 2%;
    }
    .distance-md-left-3 {
        margin-left: 3%;
    }
    .distance-md-left-33 {
        margin-left: 3.3%;
    }
    .distance-md-left-35 {
        margin-left: 3.5%;
    }
    .distance-md-left-4 {
        margin-left: 4%;
    }
    .distance-md-left-5 {
        margin-left: 5%;
    }
    .distance-md-left-6 {
        margin-left: 6%;
    }
    .distance-md-left-7 {
        margin-left: 7%;
    }
    .sign-lg-link {
        right: 5px;
        font-size: 1.4em;
    }
    .md-hidden {
        display: none;
    }
    .button-md-position {
        margin-top: 15%;
        margin-right: -30%;
    }
}

@media all and (max-width:500px) {
    .col-sm-05 {
        width: 5%;
    }
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-15 {
        width: 10%;
    }
    .col-sm-17 {
        width: 15%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-23 {
        width: 18%;
    }
    .col-sm-25 {
        width: 20%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-35 {
        width: 30%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-45 {
        width: 35%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-55 {
        width: 45%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-75 {
        width: 60%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-85 {
        width: 70%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-95 {
        width: 80%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-105 {
        width: 90%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-118 {
        width: 98%;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-offset-05 {
        margin-left: 5%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33%;
    }
    .col-sm-offset-15 {
        margin-left: 10%;
    }
    .col-sm-offset-17 {
        margin-left: 15%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66%;
    }
    .col-sm-offset-23 {
        margin-left: 18%;
    }
    .col-sm-offset-25 {
        margin-left: 20%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-35 {
        margin-left: 30%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33%;
    }
    .col-sm-offset-45 {
        margin-left: 35%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66%;
    }
    .col-sm-offset-55 {
        margin-left: 45%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33%;
    }
    .col-sm-offset-75 {
        margin-left: 60%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66%;
    }
    .col-sm-offset-85 {
        margin-left: 70%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-95 {
        margin-left: 80%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33%;
    }
    .col-sm-offset-105 {
        margin-left: 90%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66%;
    }
    .col-sm-offset-118 {
        margin-left: 98%;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .distance-sm-left-1 {
        margin-left: 1%;
    }
    .distance-sm-left-15 {
        margin-left: 1.5%;
    }
    .distance-sm-left-2 {
        margin-left: 2%;
    }
    .distance-sm-left-3 {
        margin-left: 3%;
    }
    .distance-sm-left-33 {
        margin-left: 3.3%;
    }
    .distance-sm-left-35 {
        margin-left: 3.5%;
    }
    .distance-sm-left-4 {
        margin-left: 4%;
    }
    .distance-sm-left-5 {
        margin-left: 5%;
    }
    .distance-sm-left-6 {
        margin-left: 6%;
    }
    .distance-sm-left-7 {
        margin-left: 7%;
    }
    .sm-product-height {
        height: 10%;
    }
    .sm-hidden {
        display: none;
    }
    .sm-div-search-position {
        left: 5%;
    }
    .sm-right-side {
        float: right;
    }
    .sm-left-side {
        float: left;
    }
    .button-sm-position {
        margin-top: 15%;
        margin-right: 4%;
    }
}

.position-order {
    z-index: 1001;
}

.hide {
    display: none;
}

.image-search {
    height: 100%;
}

.left-side {
    float: left;
}

.right-side {
    float: right;
}

.relative-position {
    position: relative;
}

.absolute-position {
    position: absolute;
}

.shadow {
    box-shadow: 0px 2px 10px gray;
}

.shadow-product {
    box-shadow: 2px 2px 2px grey;
}

.round-edge {
    border-radius: 5px;
}

.round-edge-left {
    color: black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.round-edge-right {
    color: black;
    border-radius: 4px;
}

input {
    border: 1px solid grey;
    color: black;
}

select {
    background-color: lightgrey;
    margin-bottom: 1%;
    margin-top: 1%;
    border: 1px solid grey;
}

ul {
    list-style-type: none;
    margin: 2%;
}

.arrow-box-menu:after {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #d5d5d5;
    border-width: 10px;
    margin-left: -10px;
}

.arrow-box-sign-in:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #d5d5d5;
    border-width: 10px;
    margin-left: -10px;
}

.div-search-input {
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: 1%;
}

.div-search-input input.search {
    height: 40px;
    background: snow;
    border: none;
    font-size: 10px;
    padding-left: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

input.search[placeholder] {
    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
}

.div-search-input button.icon {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: snow;
    height: 40px;
    color: #4f5b66;
    opacity: 1;
}

.div-search-input:hover button.icon:hover {
    cursor: pointer;
}

.advanced-search,
.user-menu,
.sign-in {
    background: snow;
    margin-top: 10px;
    padding: 8px;
}

button.search {
    margin: 2%;
}

.sign-in {
    margin-top: 20%;
}

.user-menu {
    margin-top: 31%;
}

.images-header {
    width: 15%;
}

.div-search {
    display: inline-block;
    margin: 10px 1% 10px 15%;
    padding: 0;
}

header>div.div-search>input.search {
    width: 80%;
    height: 27px;
}

.user-image {
    margin: 1%;
}

.user-image:hover {
    cursor: pointer;
}

.link {
    color: snow;
    text-decoration: none;
    margin-top: 10px;
}

footer {
    height: 50px;
    text-align: center;
    /*background-image: url("../images/img_header.png");*/
    background-color: #00897b;
    margin-top: 2%;
    display: table;
}

.links-footer {
    margin-top: 25px;
}

.links-footer a {
    margin: 1%;
}

.logo-small {
    margin-top: 12px;
    width: 3.5%;
}

.main-logo {
    margin-top: .3%;
}

.white-letters {
    color: white;
}

.blue-grey-letters {
    color: #263238;
}

.no-text-decoration {
    text-decoration: none;
}

.clear-right-side {
    clear: right;
}

.display-table {
    display: table;
}

main {
    min-height: 500px;
}

.block-inline {
    display: inline-block;
}

.search-top-margin {
    margin-top: 6px;
}

.image-user {
    border-radius: 50%;
    width: 25%;
    margin-right: 24%;
}

.session-button {
    margin-top: 5%;
}

.text-center {
    text-align: center;
}

.detele-button:hover {
    font-weight: 500;
    color: red;
}

.enjoy-css {
    box-sizing: content-box;
    height: 30px;
    padding: 0 25.6px;
    border: 1px solid #388e3c;
    border-radius: 3px;
    font: normal normal 300 22px/30px "Iceland", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    background-color: #4caf50;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset, 0 7px 0 0 #388e3c, 0 8px 3px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

.enjoy-css:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #4caf50 0, #4caf50 100%), #388e3c;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset, 0 7px 0 0 #388e3c, 0 8px 3px 0 rgba(0, 0, 0, 0.2);
}

.enjoy-css:active {
    top: 6px;
    background: linear-gradient(180deg, #388e3c 0, #388e3c 100%), rgb(255, 255, 255);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset;
    transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

.purchase-button {
    margin-bottom: 5%;
    margin-right: 19%;
}

input.no-shadow {
    box-shadow: none;
}