  .div-configuration {
      background-color: #e0f2f1;
      border-radius: .5%;
      margin-top: 2.4%;
      height: 450px;
  }
  
  .margin {
      margin: 2%;
  }
  
  .add-border-bottom {
      border-bottom: 1px solid grey;
  }
  
  .full-height {
      height: 100%;
  }
  
  .add-border {
      border: 1px solid black;
  }
  
  .padding-top {
      padding-top: 3%;
      display: inline-block;
  }
  
  .padding-left {
      padding-left: 3%;
  }
  
  .display-block {
      display: block;
  }
  
  .display-inline-block {
      display: inline-block;
  }
  
  .padding-top-10 {
      padding-top: 10px;
      padding-left: 10px;
  }
  
  .margin-10-payment {
      margin-right: 4.5%;
      margin-top: 3%;
  }
  
  .margin-10-basket {
      margin-top: 10px;
  }
  
  .padding-20 {
      padding: 20px;
  }
  
  .margin-top-div {
      margin-top: 2%;
  }
  
  .padding-bottom-div {
      padding-bottom: 20px;
  }
  
  .radius-border-top {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
  }
  
  .radius-border-bottom {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
  }
  
  .vertical-scroll {
      overflow-y: scroll;
  }
  
  .height-400 {
      height: 400px;
  }
  
  .data-profile {
      font-size: 1.3em;
  }
  
  .image-user-profile-menu {
      border-radius: 100%;
      margin: 2%;
      box-shadow: 1px 1px 3px #262626;
  }
  
  .left-padding {
      padding-left: 10%;
  }
  
  .top-margin {
      margin-top: 20px;
  }
  
  .data-profile-div,
  .edit-div-product {
      margin: 3%;
      border: 2px dashed grey;
      border-radius: 5px;
  }
  
  .data-profile-div p {
      margin: 4%;
  }
  
  .sell-height {
      height: 25%;
  }
  
  .save-button-margin {
      margin: 3%;
  }
  
  .edit-profile-link {
      top: 10px;
      font-size: 1.3em;
      color: #1a1a1a;
  }
  
  .edit-profile-link:hover {
      font-weight: bold;
  }
  
  ul li {
      background-color: #e0f2f1;
  }
  
  ul li:hover {
      cursor: pointer;
      background-color: #00897b;
      color: white;
  }
  
  .edit-div {
      border: 2px dashed grey;
      font-size: 1.2em;
      margin: 1%;
      margin-top: 2%;
  }
  
  .edit-div input,
  .edit-div select,
  .form-edit-product input,
  .form-edit-product select,
  .form-sell-product input,
  .form-sell-product select {
      height: 25px;
      margin: 1%;
      margin-left: 0;
      box-shadow: 1px 1px 1px grey;
  }
  
  .edit-div label {
      display: inline-block;
  }
  
  .edit-div button,
  .form-edit-product button {
      height: 10%;
      margin: 1%;
      font-size: .8em;
      padding: .5%;
      box-shadow: 1px 1px 1px grey;
      border: none;
  }
  
  button:hover {
      cursor: pointer;
      background-color: #bfbfbf;
  }
  
  .form-edit-product button {
      margin-right: 10px;
  }
  
  .edit-div button:hover {
      cursor: pointer;
      background-color: #cccccc;
  }
  
  .product {
      background-color: white;
  }
  
  .product img {
      height: 130px;
      margin-top: 1%;
      margin-bottom: 1%;
      box-shadow: 1px 1px 4px grey;
  }
  
  .div-description {
      margin-top: 6%;
  }
  
  .div-description-3 {
      margin-top: 3%;
  }
  
  .description-name {
      font-size: 1.6em;
  }
  
  .description-price {
      font-size: 2em;
  }
  
  ul li span {
      bottom: 20px;
      font-size: 1.4em;
  }
  
  .delete {
      margin-top: 21.5%;
      margin-right: 1%;
  }
  
  .link-my-products {
      margin-top: 20%;
      margin-right: 4%;
      font-size: 1.1em;
  }
  
  .link-my-products a {
      color: #262626;
  }
  
  .link-my-products a:hover {
      font-weight: bold;
  }
  
  .edit-div-product {
      margin: 2%;
  }
  
  .form-edit-product textarea,
  .form-sell-product textarea {
      height: 70px;
      margin-top: 10px;
      box-shadow: 1px 1px 1px grey;
      margin-left: 1px;
      resize: none;
  }
  
  .button-upload-file {
      padding: 6px 12px;
      font-size: 14px;
      vertical-align: middle;
      border: 1px solid transparent;
      border-radius: 4px;
      color: #ffffff;
      background-color: #337ab7;
      border-color: #2e6da4;
  }
  
  .button-upload-file:hover {
      cursor: pointer;
      color: #333333;
  }
  
  .file-upload {
      overflow: hidden;
      margin: 25px;
  }
  
  .file-upload input.upload {
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
  }
  
  .margin {
      margin: 2%;
  }
  
  .add-border-bottom {
      border-bottom: 1px solid grey;
  }
  
  .full-height {
      height: 100%;
  }
  
  .add-border {
      border: 1px solid black;
  }
  
  .padding-top {
      padding-top: 3%;
      display: inline-block;
  }
  
  .paddig-left {
      padding-left: 3%;
  }
  
  .display-block {
      display: block;
  }
  
  .display-inline-block {
      display: inline-block;
  }
  
  .padding-top-10 {
      padding-top: 10px;
      padding-left: 10px;
  }
  
  .margin-10-payment {
      margin-right: 4.5%;
      margin-top: 3%;
  }
  
  .margin-10-basket {
      margin-top: 10px;
  }
  
  .padding-20 {
      padding: 20px;
  }
  
  .margin-top-div {
      margin-top: 2%;
  }
  
  .padding-bottom-div {
      padding-bottom: 20px;
  }
  
  .radius-border-top {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
  }
  
  .radius-border-bottom {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
  }
  
  .vertical-scroll {
      overflow-y: scroll;
  }
  
  .height-400 {
      height: 400px;
  }
  
  .data-profile {
      font-size: 1.3em;
  }
  
  .image-user-profile-menu {
      border-radius: 100%;
      margin: 2%;
      box-shadow: 1px 1px 3px #262626;
  }
  
  .left-padding {
      padding-left: 10%;
  }
  
  .top-margin {
      margin-top: 20px;
  }
  
  .data-profile-div,
  .edit-div-product {
      margin: 3%;
      border: 2px dashed grey;
      border-radius: 5px;
  }
  
  .data-profile-div p {
      margin: 4%;
  }
  
  .sell-height {
      height: 25%;
  }
  
  .save-button-margin {
      margin: 3%;
  }
  
  .edit-profile-link {
      top: 10px;
      font-size: 1.3em;
      color: #1a1a1a;
  }
  
  .edit-profile-link:hover {
      font-weight: bold;
  }
  
  ul li {
      background-color: #e0f2f1;
  }
  
  ul li:hover {
      cursor: pointer;
      background-color: #00897b;
      color: white;
  }
  
  .edit-div {
      border: 2px dashed grey;
      font-size: 1.2em;
      margin: 1%;
      margin-top: 2%;
  }
  
  .edit-div input,
  .edit-div select,
  .form-edit-product input,
  .form-edit-product select,
  .form-sell-product input,
  .form-sell-product select {
      height: 25px;
      margin: 1%;
      margin-left: 0;
      box-shadow: 1px 1px 1px grey;
  }
  
  .edit-div label {
      display: inline-block;
  }
  
  .edit-div button,
  .form-edit-product button,
  .form-sell-product button {
      height: 10%;
      margin: 1%;
      font-size: .8em;
      padding: .5%;
      box-shadow: 1px 1px 1px grey;
      border: none;
  }
  
  button:hover {
      cursor: pointer;
      background-color: #bfbfbf;
  }
  
  .form-edit-product button {
      margin-right: 10px;
  }
  
  .edit-div button:hover {
      cursor: pointer;
      background-color: #cccccc;
  }
  
  .product {
      background-color: white;
  }
  
  .product img {
      height: 130px;
      margin-top: 1%;
      margin-bottom: 1%;
      box-shadow: 1px 1px 4px grey;
  }
  
  .div-description {
      margin-top: 6%;
  }
  
  .div-description-3 {
      margin-top: 3%;
  }
  
  .description-name {
      font-size: 1.6em;
  }
  
  .description-price {
      font-size: 2em;
  }
  
  ul li span {
      bottom: 20px;
      font-size: 1.4em;
  }
  
  .delete {
      margin-top: 21.5%;
      margin-right: 1%;
  }
  
  .link-my-products {
      margin-top: 1%;
      margin-right: 4%;
      font-size: 1.1em;
  }
  
  .link-my-products a {
      color: #262626;
      margin: 3%;
  }
  
  .link-my-products a:hover {
      font-weight: bold;
  }
  
  .edit-div-product {
      margin: 2%;
  }
  
  .form-edit-product textarea {
      height: 70px;
      margin-top: 10px;
      box-shadow: 1px 1px 1px grey;
      margin-left: 1px;
      resize: none;
  }
  
  .purchase-button {
      margin: 10% 19% 10% 0;
  }
  
  .delete-button:hover {
      color: red;
  }
  
  .edit-button:hover {
      color: green;
  }